openapi: 3.0.3

info:
  title: Marketplace API
  version: 1.0.0

servers:
  - url: http://localhost:8080
    description: Local backend (nginx)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

security:
  - bearerAuth: []

paths:
  /api/auth/login:
    $ref: ./modules/auth.yaml#/login

  /api/auth/register:
    $ref: ./modules/auth.yaml#/register

  /api/auth/logout:
    $ref: ./modules/auth.yaml#/logout

  /api/me:
    get:
      $ref: ./modules/users.yaml#/me
    patch:
      $ref: ./modules/users.yaml#/me_update_profile

  /api/me/password:
    patch:
      $ref: ./modules/users.yaml#/me_update_password
