User:
  type: object
  properties:
    id:
      type: string
      format: uuid
    email:
      type: string
      format: email
    first_name:
      type: string
    last_name:
      type: string
