User:
  type: object
  required:
    - id
    - email
    - first_name
    - last_name
  properties:
    id:
      type: string
      format: uuid
      example: d3302fd5-360b-48ba-a049-40aa4accf26f
    email:
      type: string
      format: email
      example: alex.johnson@example.com
    first_name:
      type: string
      example: Alex
    last_name:
      type: string
      example: Johnson
    middle_name:
      type: string
      nullable: true
      example: Michael
    phone:
      type: string
      nullable: true
      example: "+79998887766"


UpdateMeRequest:
  type: object
  properties:
    first_name:
      type: string
      example: Alex
    last_name:
      type: string
      example: Johnson
    middle_name:
      type: string
      nullable: true
      example: Michael
    phone:
      type: string
      nullable: true
      example: "+79998887766"
    email:
      type: string
      format: email
      example: alex.johnson@example.com
