login:
  post:
    tags: [Auth]
    summary: User login
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/auth.yaml#/components/schemas/LoginRequest
    responses:
      '200':
        description: Login successful
        content:
          application/json:
            schema:
              $ref: ../schemas/auth.yaml#/components/schemas/AuthResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError


register:
  post:
    tags: [Auth]
    summary: User registration
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/auth.yaml#/components/schemas/RegisterRequest
    responses:
      '201':
        description: User registered
        content:
          application/json:
            schema:
              $ref: ../schemas/auth.yaml#/components/schemas/AuthResponse
      '422':
        $ref: ../errors.yaml#/ValidationError
