me:
  get:
    tags: [Users]
    summary: Get current authenticated user
    description: Returns profile of the currently authenticated user
    security:
      - bearerAuth: []
    responses:
      '200':
        description: Current authenticated user
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError


me_update_profile:
  patch:
    tags: [Users]
    summary: Update current user profile
    description: Updates first name, last name, middle name and phone
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/components/schemas/UpdateMeProfileRequest
    responses:
      '200':
        description: Profile updated successfully
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/components/schemas/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError
      '422':
        $ref: ../errors.yaml#/ValidationError


me_update_password:
  patch:
    tags: [Users]
    summary: Update current user password
    description: Changes password for the currently authenticated user
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/components/schemas/UpdateMePasswordRequest
    responses:
      '200':
        description: Password updated successfully
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/components/schemas/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError
      '422':
        $ref: ../errors.yaml#/ValidationError
