me:
  get:
    tags: [Users]
    summary: Get current authenticated user
    security:
      - bearerAuth: []
    responses:
      '200':
        description: Current authenticated user
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError

  patch:
    tags: [Users]
    summary: Update current user profile
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/UpdateProfileRequest
    responses:
      '200':
        description: Updated profile
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/UserResponse
      '422':
        $ref: ../errors.yaml#/ValidationError

me_password:
  patch:
    tags: [Users]
    summary: Change current user password
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/UpdatePasswordRequest
    responses:
      '200':
        description: Password changed successfully
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/UserResponse
      '422':
        $ref: ../errors.yaml#/ValidationError
      '401':
        $ref: ../errors.yaml#/UnauthorizedError
