me:
  get:
    tags: [Users]
    summary: Get current authenticated user
    security:
      - bearerAuth: []
    responses:
      '200':
        description: Current user
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/components/schemas/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError


  patch:
    tags: [Users]
    summary: Update current authenticated user
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/components/schemas/UpdateMeRequest
    responses:
      '200':
        description: Updated user
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/components/schemas/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError
      '422':
        $ref: ../errors.yaml#/ValidationError


me_update_password:
  patch:
    tags: [Users]
    summary: Change current user password
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: ../schemas/user.yaml#/components/schemas/UpdateMePasswordRequest
    responses:
      '200':
        description: Password changed
        content:
          application/json:
            schema:
              $ref: ../schemas/user.yaml#/components/schemas/UserResponse
      '401':
        $ref: ../errors.yaml#/UnauthorizedError
      '422':
        $ref: ../errors.yaml#/ValidationError
