.footer {
  border-top: 1px solid #e2e8f0;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 72rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
  color: #475569;
}
